body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: black;
    color: azure;
}

.title {
    font-size: 4rem;
    color:black;
    width: 150px;
    margin-bottom: 3rem;
    padding: 1rem 2rem;
    margin: 0 auto 3rem auto;
    

}

