body {
    margin: 0;
    padding: 0;
    min-height: 80vh;
    background: black;
    color: azure;
}

.title {
    font-size: 5rem;
    color:black;
    background-color: azure;
    height: 100px;
    margin-bottom: 1rem;
    padding: 1rem 4rem;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    

}

.home_page_text {
    color: White;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto 3rem auto; 


}

.product_list_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00bf63;
    color: black;
    width: 400px;  
    height: 150px;
    padding: 0;
    border-radius: 45px;
    text-decoration: none;
    text-align: center;
    line-height: 70px;
    margin: 0 auto 3rem auto; 
    font-size: 4rem;
    font-weight: 600;
    transition: all 0.3s ease; 
    margin-top: 10rem;

}

.product_list_button:hover {
    transform: scale(1.05);
}
