body {
    margin: 0;
    padding: 0;
    min-height: 80vh;
    background: black;
    color: azure;
}

.title {
    font-size: 5rem;
    color:black;
    background-color: azure;
    height: 100px;
    margin-bottom: 1rem;
    padding: 1rem 4rem;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    

}

.home_page_text {
    color: White;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto 3rem auto; 


}

.product_list_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00bf63;
    color: black;
    width: 400px;  
    height: 150px;
    padding: 0;
    border-radius: 45px;
    text-decoration: none;
    text-align: center;
    line-height: 70px;
    margin: 0 auto 3rem auto; 
    font-size: 4rem;
    font-weight: 600;
    transition: all 0.3s ease; 
    margin-top: 10rem;

}

.product_list_button:hover {
    transform: scale(1.05);
}

.product_list_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    max-width: 900px;
    font-size: 3.5rem;
    font-weight: bold;
    
    
}
.product_ifno {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    flex: 1;
    
}
.product_list_container {
    list-style: none;
    padding: 0;
    max-width: 900px;

    
   
}

.add_review_button {
    display: flex;  
    justify-content: center;  
    align-items: center;
    background-color: #00bf63;
    color: black;
    width: 400px;  
    height: 150px;
    border-radius: 15px;
    text-decoration: none ;
    font-weight: bold;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    white-space: nowrap;
    margin-left: 2rem;
    font-size: 4rem;
    border-radius: 45px;
    

}

.add_review_button:hover {
    transform: scale(1.05);
    
}


.review_detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 45px;
    background-color: #00bf63;
    color:black;
    font-size: 3.5rem;
    font-weight: bold;
    text-decoration: none;

    margin: 0 auto;
    margin-top: 10vh;

    height: auto;
    min-height: 600px;
    width: 600px;
    

    line-height: 1;
    padding: 40px;
    
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    word-break: break-word;

    padding: 20px;
    box-sizing: border-box;

    text-align: center;

    overflow-y: auto;
    


}

.item_name_font {
    font-size: 3rem;
}

.submit_review_button {
    display: flex;
    justify-content: center ;
    align-items: center;
    margin: 0 auto;

    background-color: #00bf63;
    color: black;
    
    width: 500px;
    height: 150px;
    border-radius: 40px;

    transition: all 0.3s ease;
    font-size: 4rem;

    font-weight: bold ;

}

.submit_review_button:hover{
    transform: scale(1.05);
}


.titles_for_input {
    font-size: 5rem;
    margin: auto 0;
}


.input_area {
    display: flex;
    background-color: #00bf63;
    color: black;
    border-radius: 20px;
    width: 450px;
    height: 100px;
    margin: 0 auto 0;
    line-height: 1.5;
    font-size: 4rem;
    margin-top: -5rem;
}

.rating_field {
    width: 100px;
    margin-left: 467px;
}

.text_text{
    margin-right: 100px;
}

