{% extends "base.html" %}
{% load static %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'review/css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="home_page_text">
        <h1> Hello, in review site</h1>
        <h2>Firstly, you need choose product</h2>
    </div>

    <a href="{% url 'product_list' %}" class="product_list_button">Product list</a>
    
</body>
</html>



{% endblock %}